<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Import</title>
    <div th:replace="fragments/layout :: header-css">

    </div>
</head>
    <style>
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 25px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
        }

        .button:hover {
            background-color: green;
        }
    </style>
</head>
<body>
<form th:action="@{/tmdb/import}" method="post">
    <input type="submit" name="FilmsURL" value="Get films full list online" class="button" />
    <input type="submit" name="PeopleURL" value="Get people full list online " class="button"/>
    <input type="submit" name="GenresURL" value="Get genres full list online" class="button"/>
</form>
<br>
<form th:action="@{/tmdb/import}" method="post">
    <input type="submit" name="FilmsLocal" value="Get films full list locally" class="button" />
    <input type="submit" name="PeopleLocal" value="Get people full list locally" class="button"/>
    <input type="submit" name="GenresLocal" value="Get genres full list locally" class="button"/>
</form>
</body>
</html>