<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="head">
        <title>CinemaSpring</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script src="/webjars/tinymce/4.7.9/tinymce.min.js"></script>
        <link rel="stylesheet" href="/webjars/bootstrap/3.4.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/static/css/style.css}"/>
        <link rel="stylesheet" type="text/css" href="/static/css/navbar.css" th:href="@{/static/css/navbar.css}"/>
        <link rel="stylesheet" type="text/css" href="/static/css/listfilms.css" th:href="@{/static/css/listfilms.css}"/>
        <link rel="stylesheet" type="text/css" href="/static/css/overlayfilm.css" th:href="@{/static/css/overlayfilm.css}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </div>
</head>
<body>




<div th:fragment="footer">

    <footer class="text-center">

        <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a><br><br>
        <p>Bootstrap Theme Made By <a href="#" data-toggle="tooltip" title="Visit w3schools">Spring cinema</a></p>
    </footer>
</div>
<div th:fragment="footer-js">
    <script src="/webjars/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/static/js/FilmsPag.js" th:src="@{/static/js/FilmsPag.js}"></script>

    <!-- Placed at the end of the document so the pages load faster -->

<script>


</script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
</div>
</body>
</html>
