
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Layout Title</title>
    <div th:fragment="header-css" th:remove="tag">
        <link href="webjars/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet"
              th:href="@{/webjars/bootstrap/3.4.0/css/bootstrap.min.css}"/>>
        <!-- Bootstrap core CSS -->
        <!-- Custom styles for this template -->
        <link href="starter-template.css" rel="stylesheet">
        </head>

    </div>
        <div th:fragment="header-navOpening">
            <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">Navbar</a>

                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Importer des films au catalogue</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Notre Catalogue</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="#">Films</a>
                                <a class="dropdown-item" href="#">Acteurs</a>
                                <a class="dropdown-item" href="#">Realisateurs</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <div th:fragment="header-navClosing">
                </div>
            </nav>
        </div>
        <div class="container">

            <div class="starter-template">
                <h1>Bootstrap starter template</h1>
                <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
            </div>

        </div><!-- /.container -->

        <div th:fragment="footer-js">
            <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="webjars/jquery/3.3.1-1/jquery.min.js"
                    th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
            <script src="webjars/Semantic-UI/2.4.1/semantic.min.js"
                    th:src="@{/webjars/bootstrap/3.4.0/js/bootstrap.min.js}"></script>
            <script src="webjars/tinymce/4.7.9/tinymce.min.js"
                    th:src="@{/webjars/tinymce/4.7.9/tinymce.min.js}"></script>
            <script type="application/javascript">
                $('.ui.dropdown.item')
                    .dropdown();
            </script>
        </div>
        </body>
</html>
