<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Layout Title</title>

    <!-- Bootstrap core CSS -->
        <!-- Custom styles for this template -->
    <link rel='stylesheet'  href='/webjars/bootstrap/css/bootstrap.min.css'th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel='stylesheet' href='../../css/style.css>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
             </head>
  -->
  <body style="height:1500px">

  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Spring Cinema</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                  <li><a href="#">A l'affiche</a></li>
                  <li><a href="#">Evenements</a></li>
                  <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Explorer
                          <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="#">Films</a></li>
                          <li><a href="#">Acteurs</a></li>
                          <li><a href="#">Realisateurs</a></li>
                          <li><a href="#">Genres</a></li>
                      </ul>
                  </li>
                  <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Nos distributeurs
                          <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="#">Importer</a></li>
                      </ul>
                  </li>
                  <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Nôtre cinema
                          <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="#">blog</a></li>
                          <li><a href="#">Nous trouver</a></li>
                          <li><a href="#">Contact</a></li>
                          <li><a href="#">A propos de nous</a></li>
                      </ul>
                  </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>

          </div>


      </div>
  </nav>

  <div class="container" style="margin-top:50px">
      <h3>Fixed Navbar</h3>
      <div class="row">
          <div class="col-md-4">
              <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
              <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
          </div>
          <div class="col-md-4">
              <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
              <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
          </div>
          <div class="col-md-4">
              <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
              <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
          </div>
      </div>
  </div>

  <h1>Scroll this page to see the effect</h1>
  <!-- /.container -->
   <footer class="text-center">
       <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
           <span class="glyphicon glyphicon-chevron-up"></span>
       </a><br><br>
       <p>Bootstrap Theme Made By <a href="#" data-toggle="tooltip" title="Visit w3schools">Spring cinema</a></p>
   </footer>
<div th:fragment="footer-js">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type='text/javascript' src='/webjars/jquery/jquery.min.js'></script>
    <script type='text/javascript' src='/webjars/bootstrap/js/bootstrap.min.js'></script>
    <script src="/webjars/tinymce/4.7.9/tinymce.min.js"></script>
    <script type="application/javascript">
        $('.ui.dropdown.item')
            .dropdown();
    </script>
</div>

</body>
</html>
