<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="overlayfilm">
    <!--Overside-->
    <div id="overSide" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav();">&times;</a>
        <!--overlay Content-->
        <div class="overlay-content">
            <!--Container fluid-->
            <div class="container-fluid text-center">

                <!-- row -->
                <div class="row content" STYLE="max-width: 1000px; margin: auto;" ;>
                    <div class="col-sm-6 col-md-4 col-lg-4 sidenav">
                        <img src="" alt="Avatar" class="affiche_overlay" id="poster_path">
                        <a href="javascript:void(0)" class="importbtn" onclick="closeNav()">Importer</a>
                        <br/>
                    </div>
                    <!-- Texto izquierda -->
                    <div class="col-sm-6 col-md-8 col-lg-8 text-left">
                        <div class="well">
                            <div class="film-title" id="film-title"></div>
                        </div>
                        <!--Panel Rating-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Rating
                            </div>
                            <div class="panel-body">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </div>
                        <!--Fin Rating-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Sinopsis
                            </div>
                            <div class="panel-body" id="overview">
                            </div>
                        </div>
                        <!--Panel genres-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                genres
                            </div>
                            <div class="panel-body" id="genres">
                                temis
                            </div>
                            <!--Fin Panel genres-->
                        </div>
                        <!--Panel Equipo artistico-->
                        <div class="panel panel-default" id="cast">
                            <div class="panel-heading">
                                Equipe artistique
                            </div>
                            <div class="panel-body" id="panel-body-cast">
                                <!--Panel actor-->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Nom acteur
                                    </div>
                                    <div class="panel-body">
                                        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/bPqRdLWWwpOT8sBdj9PWOzNgwou.jpg"
                                             alt="Avatar" class="image_overlay">
                                    </div>
                                    <div class="panel-footer">
                                        Role
                                    </div>

                                </div>
                                <!--Fin actor-->
                            </div>

                        </div>
                        <!--Fin Equipo artistico-->
                        <!--Fin texto izq-->
                    </div>
                    <!--Fin row-->
                </div>
                <!--Fin Container fluid-->
            </div>
            <!--Fin overalay content-->
        </div>
        <!--Fin Overside-->
    </div>
</div>
</body>
</html>