body {
    /*padding-top: cuando no logado = 50px
        padding-top: cuando  logado = 100px*/
    padding-top: 50px;
    width: 100%;
    margin: auto;
}
#row-nav-admin{
    /*display cuando no logado = none
        display cuando logado = inline
        */
    display:none;

}
#navbar-toggle-button-admin{
    /*display cuando no logado = none
        display cuando logado = inline
        */
    display:none;
}

