#overSide a {

}
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
    /* Position the content inside the overlay */
    position: relative;
    /*top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 50px; /* 50px top margin to avoid conflict with the close button on smaller screens */
}
.overlay a {
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    /* Position the close button (top right corner) */
    position: absolute;
    /*margin-top: 20px;
    clear: right;*/
    right: 45px;
    font-size: 40px;

}
.overlay .importbtn {
    left: 50px;
    font-size: 20px;
}
#panel-body-cast{
    text-align: center;
}
.image_overlay{
    width: 100%;
    height: auto;
    position: center;
    text-align: center;
}

.affiche_overlay{
    width: 100%;
    height: auto;
}

@media(min-width:731px){
.panel-footer {
    font-size: 11px;
}
    .image_overlay {
        width: auto;
        max-height: 200px;
    }
}

    @media(min-width:550px) and (max-width:730px) {
    .image_overlay {
        width: auto;
        max-height: 175px;
    }
    .col-artist, .panel-body {
        font-size: 11px;
    }
        .panel-heading, #col-artist .panel-heading{
            font-size: 12px;
        }
}

@media(min-width:350px) and (max-width:549px){
    .image_overlay{
        width: auto;
        max-height: 200px;
    }
    .col-artist, .panel-body{
        font-size: 10px;
    }
    .panel-heading{
        font-size: 12px;
    }
}
@media (max-width:349px){
    .image_overlay {
        width: auto;
        height: 100px;
    }
    .col-artist, .panel-body, .panel-heading{
        font-size: 10px;
    }
    }
    .affiche_overlay{}


.col-artist{
    padding: 2px;
}

#cast{
    padding: 0;
}

@media screen and (max-height: 450px) {
    /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}